.featss {
    margin-top: 230px;
}

.feats {
    margin-top: 35px;
}

.fts_texth {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 7px;
    color: rgba(220, 120, 11, 1);

}

.fts_textp {
    font-family: Philosopher;
    font-size: 31px;
    font-weight: 700;
    line-height: 35px;
    color: black;
    text-align: center;
    margin: 0;
}

.fts_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.fts_item {
    text-align: center;
}

.fts_h3 {
    font-family: 'Philosopher';
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 40px;
}

.fts_p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin: 0;
    width: 300px;
}