.testt {
    margin-top: 250px;
}

.test-ptext {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    color: rgba(220, 120, 11, 1);
    margin-bottom: 10px;

}

.test-htext {
    font-family: 'Philosopher';
    font-size: 31px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;    
    margin-bottom: 25px;
}

.test-p1text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0em;
    color: black;
    width: 750px;
    margin-left: 385px;
    margin-bottom: 110px;
}

.test-div {
    text-align: center;
}

.test-foto {
    border-radius: 50px;
    margin-bottom: 38px;
}

.test-p2text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    width: 506px;
    margin-left: 500px;
    margin-bottom: 22px;
}

.test-p3text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin-bottom: 8px;
}

.test-rasm {
    margin-bottom: 30px;
}

.test-p4text {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: black;
}