.menuu {
    margin-top: 160px;
}

.menu_p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center; 
    color: rgba(220, 120, 11, 1);
    margin-bottom: 5px;
}

.menu_h {
    font-family: 'Philosopher';
    font-size: 31px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(21, 12, 1, 1);
    text-align: center;
    margin-bottom: 36px;
}

.menu_p1 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(21, 12, 1, 1);
    width: 748px;
    margin-left: 259px;
}

.menu_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 360px;
    border-radius: 50px 0px 0px 0px;    
    width: 370px;
    padding-left: 10px;
}

.menu_img1 {
    border-radius: 50px 0px ;
    margin-bottom: 20px;
    margin-left: -10px;
}

.menu_h3 {
    font-family: 'Philosopher';
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(21, 12, 1, 1);
}

.menu_p3 {
    font-family: 'Philosopher';
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    // text-align: right;
    color: rgba(21, 12, 1, 1);
    margin-top: -26px;
    margin-bottom: 20px;
    margin-left: 310px;
}

.menu_p4 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    width: 310px;  
    margin-bottom: 50px;  
}

.menu_plus {
    width: 12px;
    height: 12px;
    background: rgba(241 170 18);
    border-radius: 5px;
    padding: 10px 15px;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

.menu_yulduz {
    margin-left: 220px;
}

.menu_spna {
    align-items: center;
    display: flex; 
    margin-top: -33px;
    margin-bottom: 30px;
}

.menu_item1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 360px;
    border-radius: 50px 0px 0px 0px;    
    width: 370px;
    padding-left: 10px;
    margin-left: 35px;
    margin-bottom: 60px;
}

.menu_item2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 360px;
    border-radius: 50px 0px 0px 0px;    
    width: 370px;
    padding-left: 10px;
    margin-left: 35px;
}

.menu_link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(220, 120, 11, 1);    
    border: 1px solid rgba(220, 120, 11, 1);
    padding: 8px 28px;
    text-decoration: none;
    border-radius: 5px;
}

.unamed {
    text-align: center;
    margin-top: 80px;
}